<ion-header>
  <ion-toolbar>
    <ion-title>Simple Product List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-button (click)="setPage(-1)">prev</ion-button>
    <ion-button (click)="setPage(1)">next</ion-button>
  </ion-item>
  <ion-list class="ion-hide-sm-up">
    <ion-item-sliding *ngFor="let p of displayScale(); let i = index  ">
      <ion-item>
        <ion-label>
          <h3>{{p}}</h3>
          <p>zef</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" >Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>
