<ion-header>
  <ion-toolbar>
    <ion-title>My modal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam aliquid beatae deserunt dolor dolores dolorum eius fuga id iusto maiores necessitatibus neque nisi nobis, odit, quo similique sint sit!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam aliquid beatae deserunt dolor dolores dolorum eius fuga id iusto maiores necessitatibus neque nisi nobis, odit, quo similique sint sit!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam aliquid beatae deserunt dolor dolores dolorum eius fuga id iusto maiores necessitatibus neque nisi nobis, odit, quo similique sint sit!</p>
  <ion-item>
    <ion-button>OK</ion-button>
  </ion-item>
</ion-content>
